
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="~/Employee/Create" method="post">
    <label>EmployeeName</label>
    <input type="text" name="EmpName" value="" class="form-control" /><br />
    <label>Salary</label>
    <input type="text" name="EmpSalary" value="" class="form-control" />
    <input type="submit"   value="Save" class="btn btn-success" />
</form>