
@{
    ViewBag.Title = "getPartialData";
}

<h2>getPartialData</h2>

<h1>
    students paly football
</h1>

Girja
Amith
manoj

<h2>
    students who play cricket
</h2>

@Html.Partial("_CricketPartialView")

 