@model List<MVC7amTremendousBatch.Models.EmployeeModel>

@{
    ViewBag.Title = "getPartialData2";
}

<h2>getPartialData2</h2>

@{

    var a= Html.Partial("_myEmpPartialView", Model);
    int r = 10;
    if (r == 10) {

        @a
    }

        }


@{

 Html.RenderPartial("_myEmpPartialView", Model);
    
    } 


